$secondaryColor: #FAAFBE;
body {
	background: $secondaryColor;
}

.container {
    width: 748px;

	.element {
		border: 8px;
		padding: 8px;
		margin: 8px;
		width: 700px;
	}
}

a {
	color: pink;

	:hover {
		color: red;
	}

	:visited {
		color: orange;
	}

	:active {
		color: green;
	}

	:link {
		color: purple;
	}
}

$pages: ('blog', 'news');

@each $page in $pages {
	.#{$page} {
		background: pink;
	}
}

$colors: (
		primary:'red',
		secondary:'white'
	);

.test {
	background: map-get($colors, primary);
}

/*
@for $i from 1 through 4 {}


$i: 5;
@while $i < 10 {
	$i: $i + 1;
}*/
